@use "./variables";

$options-box-size: 20rem;
$option-size: 8rem;
$box-shadow: 6px;
.game {
  min-height: 35rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.game-options {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__option {
    user-select: none;
    border-radius: 50%;
    width: $option-size;
    height: $option-size;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      inset: 12%;
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: inset 0px $box-shadow variables.$light-gray;
    }
    &-img {
      width: 33%;
      height: auto;
    }

    &--paper {
      background-color: variables.$very-light-blue;
      box-shadow: inset 0px calc($box-shadow * -1)
        variables.$very-light-blue-shadow;
    }
    &--scissors {
      background-color: variables.$marigold;
      box-shadow: inset 0px calc($box-shadow * -1) variables.$marigold-shadow;
    }
    &--rock {
      background-color: variables.$paradise-pink;
      box-shadow: inset 0px calc($box-shadow * -1)
        variables.$paradise-pink-shadow;
    }
  }

  &__your-choice {
    z-index: 1;
    left: 0;
    width: $options-box-size;
    height: $options-box-size;
    & .game-options__option {
      position: absolute;
      &--paper {
        top: 19%;
        left: 3%;
      }
      &--rock {
        top: 59%;
        left: 31%;  
      }
      &--scissors {
      
        top: 19%;
        left: 57%;
      }

      &.option-active {
        z-index: 10;
      }
    }

    .bg-img {
      z-index: -1;
      width: 75%;
      height: 75%;
      & svg {
        & * {
          stroke-width: 1.6rem;
        }
      }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    & > svg {
      position: absolute;
    }
  }

  &__machine-choice {
    width: fit-content;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg {
      position: absolute;
    }
  }
}

.game-result-container {
  height: 9rem;
}

.game-result {
  width: 17rem;
  &__message {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: bold;
    color: variables.$white;
  }
  &__btn {
    padding: 1.2rem 0;
    width: 100%;
    background-color: variables.$white;
    color: variables.$space-cadet;
  }
}

.game-options__placeholder {
  color: variables.$white;
  text-transform: uppercase;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 120%;
  position: absolute;
  bottom: 3.5rem;

  & .win,
  .lose {
    min-width: fit-content;
  }
  & .win {
    left: 2.8rem;
  }
  & .lose {
    right: 1.2rem;
  }
}

.halo {
  width: $option-size * 2.5;
  height: $option-size * 2.5;
  position: absolute;
  bottom: -3.4rem;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;

  &__circle {
    opacity: 0.07;
  }
}

.machineChoicePlaceHolder {
  width: calc($option-size - 1rem);
  height: calc($option-size - 1rem);
  position: absolute;
  bottom: 3rem;
  left: 1.6rem;
  border-radius: 50%;
  background-color: variables.$yankees-blue;
  z-index: -1;
  opacity: 0.4;
}

@media all and (min-width: variables.$desktop-view) {
  .game-options {
    position: absolute;

    &__option {
      width: $option-size * 1.9;
      height: $option-size * 1.9;
    }

    &__your-choice {
      &::after {
        content: "";
        inset: 0;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
      }

      width: calc($options-box-size * 2);
      height: calc($options-box-size * 2);
      .bg-img {
        & svg {
          & * {
            stroke-width: 1rem;
          }
        }
      }
    }
  }

  .game-options__placeholder {
    width: 105%;
    font-size: 1.8rem;
    bottom: 80%;
    & .win,
    & .lose {
      & .halo {
        top: -10rem;
      }
    
    }

    .halo {
      width: $option-size * 6;
      height: $option-size * 6;
    }
  }

  .machineChoicePlaceHolder {
    width: calc($option-size * 1.4) ;
    height: calc($option-size * 1.4);
    bottom:-17.7rem;
    left: 2.5rem;
    }
    

}
