$paradise-pink: #DE3F5C;
$paradise-pink-shadow: #a31432;
$marigold:#EDA51D;
$marigold-shadow:#cd6d17;
$very-light-blue:#5671F6;
$very-light-blue-shadow:#2741b7;
$grayish-blue:#5B6E88;
$grayish-blue-shadow:#5b6e8859;
$white:#FCF9FD;
$yankees-blue:#15183B;
$space-cadet:#1E3656;
$light-gray:#ccc;

$mobile-view: 300px;
$desktop-view: 1420px;