@use "./styles/variables";
@use "./styles/score";
@use "./styles/rules";
@use "./styles/game";
* {
  box-sizing: border-box;
  position: relative;
}

body {
  height: 100vh;
  background-image: radial-gradient(variables.$space-cadet  10%, variables.$yankees-blue 90% );
  margin: 0;
  padding: 0;
  font-family: Roboto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  min-height: 50rem;
}
#root{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn{

  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.rules-btn {
  color: variables.$light-gray;
  padding: 0.6rem 2.4rem;
  border: 0.15rem solid currentColor;
  background-color: transparent;
}

