@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.score {
  border: 0.2rem solid #5B6E88;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  width: var(--width);
  max-width: var(--max-width);
  margin: auto;
}
.score__logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3.3rem;
  margin-left: 1rem;
}
.score__container {
  border-radius: 0.4rem;
  background-color: #FCF9FD;
  padding: 0.7rem 1.5rem 0;
}
.score__container-title {
  color: #5671F6;
  font-size: 0.95rem;
  font-weight: bold;
  margin: 0;
}
.score__container-value {
  color: #5B6E88;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: -0.4rem;
  top: -5px;
  margin: 0 0.4rem 0 0;
}
@media all and (min-width: 1024px) {
  .score {
    border-radius: 1rem;
    padding: 1.2rem 1.5rem;
  }
  .score__logo {
    width: auto;
    height: 6rem;
    left: -0.3rem;
  }
  .score__container {
    border-radius: 0.7rem;
    padding: 0.9rem 2.5rem 0rem;
  }
  .score__container-title {
    font-size: 1.3rem;
  }
  .score__container-value {
    font-size: 3rem;
  }
}

.rules {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FCF9FD;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}
.rules__title {
  font-size: xx-large;
  font-weight: bolder;
  text-transform: uppercase;
  color: #1E3656;
}
.rules__exit-btn {
  display: grid;
  place-content: center;
  background-color: transparent;
  width: 2.3rem;
  height: 2.3rem;
}
.rules__exit-btn svg {
  width: 100%;
  height: 100%;
}

@media all and (min-width: 1024px) {
  .rules {
    position: absolute;
    top: 25%;
    left: 30.5%;
    width: 25rem;
    height: 25rem;
    border-radius: 0.6rem !important;
  }
  .rules__title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.5rem;
  }
  .rules__exit-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem;
  }
  .rules__exit-btn svg {
    width: 95%;
    height: 95%;
  }
  .rules__img {
    width: 75%;
    height: auto;
    bottom: -2rem;
  }
}
.game {
  min-height: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: var(--width);
  margin: 0 auto 2rem;
}
.game__options {
  width: var(--width);
  height: var(--width);
  max-width: var(--max-width);
  max-height: var(--max-width);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.game__option {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  width: var(--option-size);
  height: var(--option-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.game__option::before {
  content: "";
  inset: 12%;
  position: absolute;
  background-color: #FCF9FD;
  border-radius: 50%;
  box-shadow: inset 0px 6px #ccc;
}
.game__option-img {
  width: 33%;
  height: auto;
}
.game__option--paper {
  background-color: #5671F6;
  box-shadow: inset 0px -6px #2741b7;
}
.game__option--scissors {
  background-color: #EDA51D;
  box-shadow: inset 0px -6px #cd6d17;
}
.game__option--rock {
  background-color: #DE3F5C;
  box-shadow: inset 0px -6px #a31432;
}
.game__option-halo {
  position: absolute;
  width: 270%;
  height: 270%;
  z-index: -1;
}
@media all and (min-width: 1024px) {
  .game__option-halo {
    width: 370%;
    height: 370%;
  }
}

.game__your-choice {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__your-choice .game__option--paper {
  top: 10%;
  left: -1%;
}
.game__your-choice .game__option--scissors {
  top: 10%;
  left: 53%;
}
.game__your-choice .game__option--rock {
  top: 56%;
  left: 26%;
}
.game__your-choice .game__option.option-active {
  z-index: 10;
}
@media all and (min-width: 350px) {
  .game__your-choice .game__option--paper {
    top: 17%;
    left: 3%;
  }
  .game__your-choice .game__option--scissors {
    top: 17%;
    left: 60%;
  }
  .game__your-choice .game__option--rock {
    top: 63%;
    left: 31%;
  }
}
@media all and (min-width: 450px) and (max-width: 500px) {
  .game__your-choice .game__option--paper {
    top: 19%;
    left: 3%;
  }
  .game__your-choice .game__option--scissors {
    top: 19%;
    left: 65%;
  }
  .game__your-choice .game__option--rock {
    top: 69%;
    left: 35%;
  }
}
@media all and (min-width: 1024px) {
  .game__your-choice .game__option--paper {
    top: 12%;
    left: 1%;
  }
  .game__your-choice .game__option--scissors {
    top: 12%;
    left: 56%;
  }
  .game__your-choice .game__option--rock {
    top: 58%;
    left: 27%;
  }
}
.game__your-choice .game__bg-img {
  z-index: -1;
  width: 75%;
  height: 75%;
}
.game__your-choice .game__bg-img svg * {
  stroke-width: 1.6rem;
}
.game__your-choice > svg {
  position: absolute;
}

.game__machine-choice {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.game__machine-choice > svg {
  position: absolute;
}
@media all and (min-width: 1024px) {
  .game__machine-choice {
    left: 30%;
  }
}

.result {
  height: 9rem;
  display: flex;
}
@media all and (min-width: 1024px) {
  .result {
    position: absolute;
  }
}
.result__message {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  color: #FCF9FD;
  margin-bottom: 1rem;
}
.result__play-again {
  padding: 1.2rem 0;
  width: 100%;
  background-color: #FCF9FD;
  color: #1E3656;
}
.result__play-again:hover {
  color: #DE3F5C;
}

.game__choice-type {
  position: absolute;
  text-transform: uppercase;
  color: #FCF9FD;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 5%;
}
.game__choice-type :first-child {
  left: 5%;
}
.game__choice-type :last-child {
  right: -5%;
}
@media all and (min-width: 500px) {
  .game__choice-type {
    bottom: 17%;
  }
  .game__choice-type :first-child {
    left: 8%;
  }
  .game__choice-type :last-child {
    right: 2%;
  }
}
@media all and (min-width: 1024px) {
  .game__choice-type {
    bottom: 10%;
  }
  .game__choice-type :first-child {
    left: -19%;
  }
  .game__choice-type :last-child {
    right: -25%;
  }
}

.game__machine-choice-placeholder {
  width: calc(var(--option-size) - 1rem);
  height: calc(var(--option-size) - 1rem);
  background-color: #15183B;
  border-radius: 50%;
  position: absolute;
}

* {
  box-sizing: border-box;
  position: relative;
}

:root {
  --width: 80vw;
  --max-width:25rem;
  --option-size:7.5rem;
}
@media all and (min-width: 500px) {
  :root {
    --max-width:30rem;
    --option-size:11rem;
  }
}
@media all and (min-width: 400px) and (max-width: 500px) {
  :root {
    --option-size:8rem;
  }
}
@media all and (min-width: 1024px) {
  :root {
    --option-size:14rem;
    --max-width:35rem;
  }
}

body {
  background-image: radial-gradient(#1E3656 10%, #15183B 90%);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#root {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.btn {
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.rules-btn {
  color: #ccc;
  padding: 0.6rem 2.4rem;
  border: 0.15rem solid currentColor;
  background-color: transparent;
}

.cover {
  inset: 0;
  position: absolute;
  background-color: black;
}

@media all and (min-width: 1024px) {
  footer {
    text-align: right;
    width: 95%;
  }
  footer .rules-btn {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */