@use "./styles/variables";
@use "./styles/score";
@use "./styles/rules";
@use "./styles/game";

* {
  box-sizing: border-box;
  position: relative;
}

:root{
  --width: 80vw;
  --max-width:25rem;
  --option-size:7.5rem;

  @media all and (min-width:500px) {
    --max-width:30rem;
  --option-size:11rem;

  }
  @media all and (min-width:400px)and (max-width:500px) {
    --option-size:8rem;
    
 
    }
    @media all and(min-width:variables.$desktop-view) {
      --option-size:14rem;
      --max-width:35rem;
  }
}
body {
 
  background-image: radial-gradient(variables.$space-cadet  10%, variables.$yankees-blue 90% );
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
 
}
#root{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.btn{

  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.rules-btn {
  color: variables.$light-gray;
  padding: 0.6rem 2.4rem;
  border: 0.15rem solid currentColor;
  background-color: transparent;
}
.cover{

  inset: 0;
  position: absolute;
  background-color:   black;

}
@media all and (min-width:variables.$desktop-view) {



  footer{
    text-align: right;
    width: 95%;
    .rules-btn{
      font-size: 1rem;
    }
  }
  
}